h1 {
    color: orange;
}

h2{
    color: rgb(255, 178, 35);
}

.centralizado{
    text-align: center;    
}

.fundoLaranja{
    background-color: orange;
}

.fundoCinza{
    background-color: rgb(231, 231, 231);
}