<div>
	<label for="titulo">Título</label>
	<input type="text" id="titulo" name="titulo" maxlength="50" />
</div>

<div>
	<label for="ano">Ano</label>
	<input type="number" id="ano" name="ano" maxlength="50" />
</div>

<div>
	<label for="autor">Autor</label>
	<input type="text" id="autor" name="autor" maxlength="50" />
</div>

<div>
	<label for="paginas">Páginas</label>
	<input type="number" id="paginas" name="paginas" maxlength="50" />
</div>

<div>
	<button type="button" id="buttonCriar">Criar Livro</button>
</div>

<h1><b>Exercicio 2: colocar '/exibir' na URL para acessar os livros cadastrados</b></h1>

<script type="text/javascript">

	let titulo = document.getElementById("titulo");
	let ano = document.getElementById("ano");
	let autor = document.getElementById("autor");
	let paginas = document.getElementById("paginas");
	let buttonCriar = document.getElementById("buttonCriar");

	async function criarLivro() {
		if (!titulo.value) {
			alert("O título é obrigatório");
			return;
		}

		if (!ano.value) {
			alert("O ano é obrigatório");
			return;
		}

		if (!autor.value) {
			alert("O autor é obrigatório");
			return;
		}

		if (!paginas.value) {
			alert("O número de páginas é obrigatório");
			return;
		}

		// Cria um objeto com os valores que serão enviados para o servidor.
		let dadosParaEnvio = {
			titulo: titulo.value,
			ano: ano.value,
			autor: autor.value,
			paginas: paginas.value
		};

		let opcoes = {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
		    },
		    body: JSON.stringify(dadosParaEnvio)
		};

		try {
			let response = await fetch("/criarLivro", opcoes);

			if (response.ok) {
				// Limpa os campos para facilitar a criação da próxima pessoa.
				titulo.value = "";
				ano.value = "";
				autor.value = "";
				paginas.value = "";

				alert("Livro criado com sucesso!");
			} else {
				alert("Erro ao criar o livro!");
			}
		} catch (ex) {
			alert("Erro de rede: " + ex.message);
		}
	}

	buttonCriar.onclick = criarLivro;

</script>
