/* ATRIBUTOS UNIVERSAIS */
	body{
		max-width: 1500px;
		margin: auto;
	}
			
	.container1{
    	color: white;
    	padding: 80px;
	}	

	li{ 
		padding: 10px ; 
		list-style-type: none;
	}

	a{
		text-decoration: none;
	}
	
/*PARTE 1*/	
	.fundo1{
	    background-image: url(surf.jpg);
	    background-size: cover;
	    background-position: center center;
	    text-align: center;
	    color: white;
		padding: 150px 200px ;
	}
	
	.titulo1{
	    font-weight: bold;
	    max-width:380px; 
	    margin: auto auto;
	}
	    
	.sub1{
	    text-align: center;
	    max-width: 550px;
	    padding: 30px; 
	    margin: auto auto;
	}
 
	.padd1{
		padding: 50px 0px 0px 80px;
	}
	    
	    
/*PARTE 2 */
	.fundo2{
	    background-color: #2d2d2e;
	    text-align: left;
	}
	
	.titulo2{
	    max-width: 400px;
	}


	.azul{
	  background-image: linear-gradient(to right, rebeccapurple, steelblue, turquoise);
	  color: black;
	  -webkit-background-clip: text; 
	  -webkit-text-fill-color: transparent;
	}

	.verde{
		color: green;
	}

	.padd2{
		padding: 100px 80px;
	}


/*PARTE 3 */
	.titulo3{
	    max-width: 300px;
	}

	.lapras { background-image: url(lapras.png);
			background-size: contain;
			background-repeat: no-repeat;
	}
								     
	.botao2{
		color:white;
		background-image: linear-gradient(to right, rebeccapurple, steelblue, turquoise);
		border-radius: 30px;
		text-decoration:none;
		padding: 10px;
	}

	.padd3{
		padding: 20px 0px;
	}
	
/* PARTE 4 */
	.fundo{
		background-color:black;
		text-align:center;
	}	

	.titulo4{
    	max-width: 430px;
    	text-align: center;
    	color:white;
   		margin: auto;
	}


/*PARTE 5 */
	.fundocoluna{
		background-color:white;
		text-align:center;
		color:black;
		padding: 80px 0px 80px 0px;
	}
	
	.borda1{
		padding:20px 0px 0px 0px;
	}

	.borda2{
		padding: 15px 20px;
	}	
		
	.espreme{
		margin: 10px 30px;
	}
		
/* tela final */		
	.container2{
	    background-color :#2d2d2e;
	    text-align: left;
	    color: white;
		padding: 40px 0px 40px 80px;
	}


	.fundocoluna1{
		padding: 15px 0px;
	}

	.fundocoluna2{
		padding: 80px 5px;
		color: black;
		background-color: white;
	}
	
	
	.coluna{
		padding: 10px;
	}
	
			
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	