body{
    font-family: 'Montserrat', sans-serif;
}

a{
    border-radius: 999px;
    padding: 10px 25px;
    text-decoration: none;

}



.alinhamento{
    background-size: cover;
    background-position: center;
    padding: 300px 20px;
}



.fundo1{
    background-image: url(cataratas.jpg);
    text-align: center;
    color: white;
}

.fundo2{
    background-image: url(cristo.jpg);
    text-align: left;
    color: black;
}

.fundo3{
    background-image: url(noite.jpg);
    text-align: left;
    color: white;
}

.fundo4{
    background-image: url(deserto.jpg);
    text-align: left;
    color: black;
}
.fundo5{
    background-color: black;
    background-size: cover;
    text-align: left;
    color: white;
}



.titulo1{
    font-size: 45px;
    margin: 0px auto 40px auto;
    max-width: 400px;
}

.titulo2{
    font-size: 45px;
    margin: 0px 0px 40px 0px;
    max-width: 600px;
}

.titulo3{
    text-align: left;
    font-size: 45px;
    margin: 0px 500px 40px auto;
    max-width: 600px;
}

.titulo4{
    font-size: 45px;
    margin: -250px auto 40px 0px;
    max-width: 500px;
}


.sub1{
    max-width: 550px;
    margin: 0px auto 40px auto;
}

.sub2{
    max-width: 550px;
    margin: 0px 0px 40px 0px;
}

.sub3{
    max-width: 550px;
    margin: 0px 0px 40px 0px;
}



.botao1{
    background-color: lime;
    color: black;
}

.botao2{
    background-color: blue;
    color: white;
}

.botao3{
    background-color: skyblue;
    color: white;
}

.lista{
    list-style-type: disc;
}

.fontepequena{
    font-size: small;
}

.container{
    padding: 30px;
    max-width: 2000px;
}
.coluna{
    padding: 10px;
}
.fundocoluna{
    padding: 20px 10px 20px 15px;
    font-size: small;
}
